* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#paragraph2 {
	color: yellow;
}

h1 {
	font-size: 30px;
}

#things_to_learn {
	text-transform: uppercase;
}

#language,
#tools,
#things_to_learn {
	font-weight: bold;
}

.languages_to_be_learned {
	background-color: rgb(124, 236, 124);
}

li[value] {
	border: 1px solid rgb(36, 60, 63);
}

img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

body > footer > p {
	letter-spacing: 4px;
}
